<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />  

<meta property="og:locale" content="en_US">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}">
<meta property="og:description" content="{{ if .IsHome }}{{ .Description }}{{ else }}{{ htmlEscape .Summary }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:image" content="{{ .Params.images}}">
<meta property="og:image:secure_url" content="{{ .Params.featured_image }}">
<!-- Generates google analytics info, be sure to add googleAnalytics = "G-1234567890" in config.toml -->
{{ template "_internal/google_analytics.html" . }}
{{ range .Params.categories }}<meta property="article:section" content="{{ . }}">{{ end }}
{{ if isset .Params "date" }}<meta property="article:published_time" content="{{ (time .Date).Format "2006-01-02T15:04:05Z" }}">{{ end }}

