<header>  
    <nav class="navbar" role="navigation">  
        <div class="navbar__left">  
            <a href="/">Graham Helton</a>  
        </div>  
        <div class="">  
            <a href="/roundup">Roundup</a>  
            <span class ="nav-item navbar-text mx-1">&emsp;/&emsp;</span>
            <a href="/blog">Blogs</a>  
            <span class ="nav-item navbar-text mx-1">&emsp;/&emsp;</span>
            <a href="/tags/">Tags</a>  
            <span class ="nav-item navbar-text mx-1">&emsp;/&emsp;</span>
            <a href="/pages/">Other</a>  
        </div>  
    </nav>  
</header>  
