{{ define "main" }}  
<section class="section">  
  <article>  
    <div class="blog__container">  
          <h1 class="blog__title">{{ .Title }}</h1>  

          <p> {{ .Description}} </p>
          <p>Published: {{ .PublishDate.Format "January 2, 2006" }}</p>
          <p>Reading Time: {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}<p>

            <div class="blog__details">  
              <div class="blog__info">  
              </div>  
            </div>  
          <div class="content">  
            {{ .Content }}  
          </div>  
        </div>  

  </article>  


{{ end }}  

